:root {
    --main-color: #163a5f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Alexandria", sans-serif;
}

header {
    height: 100px;
    background-color: transparent;
    color: black;
    display: flex;
    direction: ltr;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 10px 30px #0000002d;
    justify-content: space-between;
    flex-direction: row;

}


.logo {
    width: 100px;
    height: 100px;

}

.logo img {
    width: auto;
    height: 100%;
}

nav {
    display: flex;



}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;

}


nav ul li {
    margin-right: 40px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    /* Adjust the spacing between menu items */
}

nav ul li a {
    text-decoration: none;
    color: beige;
    font-size: large;
}


.hero {
    position: relative;
}

.hero::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /20%);
}

.hero video {
    width: 100%;

}

.hero .text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.insid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;



}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;



}

.btns button {
    padding: 12px 25px;
    margin: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    /* حجم الخط الافتراضي */
    transition: transform 0.2s;

    /* تحديد التحول وسرعته */

}


h1 {
    margin-bottom: 10px;
}

.insid p {
    font-size: 20px;
    /* زيادة حجم الخط للفقرة */
    margin-top: 10px;
    /* زيادة المسافة بين العنوان والفقرة */
}

.text button {

    background-color: #163a5f;
    color: white;
    text-transform: uppercase;
    padding: 12px 25px;
    margin: 15px 10px;
    border: none;
    border-radius: 5px;
    bottom: 10px;
    font-family: "Alexandria", sans-serif;
    transition: 0.2s;
    cursor: pointer;

}

.text button:hover {
    background-color: #081f36;
    transform: scale(1.2);

}

.whyus {

    display: flex;
    justify-content: space-around;
    margin: 50px 0;


}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    color: #163a5f;
    background-color: rgba(240, 243, 246, 0.9);
    border-radius: 10px;
    box-shadow: 0px 10px 30px #0000002d;

}

.box h3 {
    color: #163a5f;
    margin-bottom: 10px;
    font-style: normal;

}

.box p {
    color: #163a5f;
    /* لون النص */
    font-size: 20px;
    /* حجم الخط */
    line-height: 1.5;
    /* مسافة بين الأسطر */
}

.servic {

    display: flex;
    justify-content: space-around;
    margin: 50px 0;


}

.servic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.servic-img {

    object-fit: cover;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 70%;
    box-shadow: 0px 10px 30px #0000002d;
    cursor: pointer;

}

.service-title {
    margin-top: 20px;
    color: var(--main-color);
}

.servic-img:hover~.service-title {
    transform: scale(1.2);
}



@media only screen and (max-width: 576px) {
    .hero {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("image and video/pexels-monstera-production-5996973.jpg");
    }

    .logo img {
        max-width: 300px;
        height: auto;


    }

    .logo {
        display: flex;
        justify-content: center;
    }

    header {
        justify-content: space-around;
        background-color: #081f36;
    }

    nav {
        display: none;
    }

    .hero video {
        display: none;
    }

    .hero .text {
        width: 90%;
        /* Adjust width for smaller screens */
    }

    .insid {
        gap: 20px;
    }

    .btns {
        flex-direction: column;

    }

    h1 {
        font-size: 28px;
        line-height: 150%;
    }

    p {
        font-size: 20px;
        line-height: 150%;
    }


    .text button {
        padding: 10px 20px;
    }

    .overlay-img {
        top: 10px;
        /* تحديد المسافة من الأعلى */
        left: 20%;
        /* تحديد المسافة من اليسار */
        transform: translateX(-50%) scale(2);
        /* تعديل حجم الصورة ووضعها في المنتصف */
        width: 60px;
        /* تعديل عرض الصورة */
    }

    /* Add more responsive styles as needed */
    .whyus,
    .servic {
        flex-direction: column;

    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }
}